<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="Home">Angular Application</a>
        <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" current="page" routerLink="Register">Registration</a>
                <a class="nav-link" routerLink="Login">Login</a>
            </div>
        </div>
    </div>
</nav>